SPRING_PROFILES_ACTIVE=dev

GG_CLIENT_ID=
GG_CLIENT_SECRET=
GG_URL_REDIRECT=
FB_CLIENT_ID=
FB_CLIENT_SECRET=
VNP_TMCODE=
VNP_SECRET_KEY=
VNP_URL=
VNP_VER=
VNP_COMD=
VNP_TYPE=
VNP_MAX_TIME=
EMAIL_USERNAME=
EMAIL_PASSWORD=
GHN_TOKEN=
GHN_SHOPID=
JWT_SECRET_KEY=RMm
ACCESS_TOKEN_EXPIRATION=86400
REFRESH_TOKEN_EXPIRATION=2592000
DB_HOST=
DB_PORT=6543
DB_NAME=db_a
DB_USERNAME=pos
DB_PASSWORD=Ng
CLOUDINARY_URL=cloudinarjc36ow
CLOUDINARY_KEY=191
CLOUDINARY_SECRET=VB5Z
CLOUDINARY_NAME=dq
REDIS_URL=redis://ds-cloud.com:11866
ES_HOST=
ES_PORT=
ES_USERNAME=
ES_PASSWORD=
KAFKA_HOST=
KAFKA_PORT=
GEMINI_API_KEY=
AWS_ID=

N8N_BASE_URL=https://n8n-chatbox.onrender.com/

GOOGLE_APPLICATION_CREDENTIALS=file:secret/gg-account-key.json
GOOGLE_CLOUD_PROJECT_ID=
JAVA_OPTS=-Xms256m -Xmx256m
